<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load my_extras %}
{% block body_block %}
    <h1 style = "color:green"><marquee>WELCOME Greetings</marquee></h1>
    <br>
    <br>
    <h2>This is your Food Spot, Refresh your Tummies!!</h2>
    <h2><em>Welcome to Subbiah mess</em><h2>
    <!--<h1>{{ text|cut:'world' }}</h1> -->
    <h3 style = "color :blue">Page used at: {{ time }}</h3>
    <h3>click on Mess tab to view details</h3>
    <br>
    <br>
    <h4 style="text-align: right">Have a Good Day !!</h4>
  <!--  <h1>{{ number|add:'99' }}</h1> -->
{% endblock %}
