<!DOCTYPE html>

{% extends 'basic_app/base.html' %}
  {% block body_block %}
    <h1 style = "background-color : lightgreen">WELCOME TO SUBBIAH MESS!</h1>
    <h2><marquee>All Andhra Recipes available here</marquee></h2>
    <h3>Food Timings : </h3>
    <p></p>
    <ul>
      <li>Breakfast : starts from 9:00 AM</li>
      <li>Lunch : starts from 12:00 PM</li>
      <li>Dinner : starts from 8:00 PM</li>
    </ul>
    <br>
    <h3>Hostel Rooms available :</h3>
    <p></p>
    <ul>
      <li>AC Room : 6000 Rs</li>
      <li>Normal Room : 5000 Rs</li>
    </ul>
    <br>
    <br>
    <p style="text-align: center"><em>For Food orders please contact us at - 7299350158 --Available on Weekdays and weekends</em></p>
    <p style="text-align: center" ><a href="https://www.google.com/search?rlz=1C1CHBF_enIN824IN824&tbm=lcl&sxsrf=ACYBGNQR0rQQnBINrit_UnWNBm4VCPLG3A:1567840852589&q=subbaiah+andhra+mess&spell=1&sa=X&ved=0ahUKEwicw9Solr7kAhWWiHAKHWn2C84QBQgtKAA&biw=1366&bih=657&dpr=1">Please click <mark>here</mark> for location</a></p>
    <h4 style="text-align: center"> Take away available </h3>
  {% endblock %}
